<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nobug.nobug_teamproject.mapper.BookMapper">
    <select id="searchBook" parameterType="String" resultType="com.nobug.nobug_teamproject.models.Book">
        SELECT * FROM Book WHERE bookName = #{bookName}
    </select>
    <select id="searchCategory" parameterType="String" resultType="com.nobug.nobug_teamproject.models.Book">
        SELECT * FROM Book WHERE category = #{category}
    </select>
    <select id="getBookId" parameterType="int" resultType="com.nobug.nobug_teamproject.models.Book">
        SELECT * FROM Book WHERE bookID = #{bookID}
    </select>
    <select id="deleteBookId" parameterType="int">
        DELETE FROM Book WHERE bookID = #{bookID}
    </select>
    <insert id="addBook" parameterType="map" useGeneratedKeys="true" keyProperty="bookID">
        INSERT INTO Book (bookID, bookName, category) VALUES (NULL, #{bookName}, #{category})
    </insert>
    <select id="updateBookName" parameterType="map">
        UPDATE Book SET bookName = #{bookName} WHERE bookID = #{bookID}
    </select>
    <select id="updateCategory" parameterType="map">
        UPDATE Book SET category = #{category} WHERE bookID = #{bookID}
    </select>
</mapper>