<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nobug.nobug_teamproject.mapper.RatingMapper">

    <select id="searchRating" parameterType="int" resultType="com.nobug.nobug_teamproject.models.Rating">
        SELECT ratingID, bookID, rating FROM Rating WHERE bookID = #{bookID}
    </select>

    <insert id="addRating" parameterType="int">
        INSERT INTO Rating(bookID, rating) VALUES (#{bookID} , #{rating})
    </insert>

</mapper>