<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nobug.nobug_teamproject.mapper.RatingMapper">

    <select id="searchRating" parameterType="int" resultType="com.nobug.nobug_teamproject.models.Rating">
        SELECT bookID, AVG(rating) FROM Rating GROUP BY bookID HAVING bookID = #{bookID}
    </select>

    <select id="search" parameterType="int" resultType="com.nobug.nobug_teamproject.models.Rating">
        SELECT * FROM Rating WHERE ratingID = #{ratingID}
    </select>

    <insert id="addRating" parameterType="map" useGeneratedKeys="true" keyProperty="ratingID">
        INSERT INTO Rating(bookID, rating) VALUES (#{bookID} , #{rating})
    </insert>

    <delete id="deleteRating" parameterType="int">
        DELETE FROM Rating WHERE ratingID = #{ratingID}
    </delete>

    <update id="updateRating" parameterType="int" >
        UPDATE Rating SET rating = #{rating} WHERE ratingID = #{ratingID}
    </update>

</mapper>